.hiragana-card {
    margin-top: 50px;
    margin-left:auto; margin-right:auto;
    border-radius: 9px;
    background-color: #F8ADD1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 50px #F8ADD1;
    max-width: 350px;
    min-height: 180px;
    min-width: 180px;
}

.hiragana-card {
  width: 50%;
}

.hiragana-card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.hiragana-card p{
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    font-size: 150px;
    color: white;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .hiragana-card p {
    font-size: 150px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .hiragana-card p {
    font-size: 80px;
  }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .shakeDiv{
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }