.app{
    padding-top: 50px;
}

.app input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F8ADD1;
    font-size: 45px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    outline: 0;
    border-width: 0 0 4px;
    text-align: center;
    border-color: #F8ADD1;
    transition: border-color 0.5s ease;
  }

.right {
    border-color: green !important;
    transition: border-color 0.5s ease;
}

.wrong {
    border-color: red !important;
    transition: border-color 0.5s ease;
}